<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744106080570-ta2t001ugikdl0l3cpi06l3odmgkv477.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744106080570-ta2t001ugikdl0l3cpi06l3odmgkv477</string>
	<key>API_KEY</key>
	<string>AIzaSyC5vA7VN6qewLACwW95Z6NfnDExmO43ew8</string>
	<key>GCM_SENDER_ID</key>
	<string>744106080570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dinh.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-49bd2</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-49bd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744106080570:ios:6ddf62551870c44d22b803</string>
</dict>
</plist>